body {
 color: #993344;
 font-family: 'Poppins', sans-serif;
 text-align: center;  
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(90px, auto));
    grid-gap: 7px;
}

.submit {
    background-color: yellow;
    color: #993344;
}

.header {
    grid-column: 1 / 7;
    background-color:  rgb(233, 135, 135);
    padding-top: 25px;
    color: whitesmoke;
    }

.main {
    grid-column: 2 / 7;
   background-color: lightblue;
   color: yellow;
}

#UVIindex {
    color: white;
    border-radius: 5px;
    background-color: rgb(35, 46, 75);
}

.sidebar {
    grid-row: 2 / 4;
    height: 650px;
    padding-top: 10%; 
    background-color: lightblue;
}

p {
    padding-top: 10%;
}

.card-1 {
    border: blue solid 1px;
    border-radius: 15px;
    background-color:  rgb(233, 135, 135);
    color: yellow;
    text-align: center;
    font-weight: bold;
}

.card-2 {
    border: blue solid 1px;
    border-radius: 15px;
    background-color:  rgb(233, 135, 135);
    color: yellow;
    text-decoration-color: black solid 1px;
    text-align: center;
    font-weight: bold;
}

.card-3 {
    border: blue solid 1px;
    border-radius: 15px;
    background-color:rgb(233, 135, 135);
    color: yellow;
    text-align: center;
    font-weight: bold;
    
}

.card-4 {
    border: blue solid 1px;
    border-radius: 15px;
    background-color: rgb(233, 135, 135);
    color: yellow;
    text-align: center;
    font-weight: bold;
}

.card-5 {
    border: blue solid 1px;
    border-radius: 15px;
    background-color:  rgb(233, 135, 135);
    color: yellow;
    text-align: center;
    font-weight: bold;
}
